@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 5rem;
  --footer-height: 5rem;
}
/* Header, Footer */
.header-container{
  @apply text-center text-gsu-text text-2xl font-bold
  bg-gsu border-gsu-dark border-solid
  h-24 flex justify-center items-center
  fixed top-0 left-0 right-0;
  border-bottom-width: 20px;
}
.footer-container{
  @apply text-gray-200
  bg-gsu h-20 flex justify-center items-center
  fixed bottom-0 left-0 right-0;
}
.footer-container > .button-container{
  @apply flex justify-between max-w-3xl w-full ml-2 mr-2;
}
.footer-container > .button-container button{
  @apply btn btn-blue;
}

/* Body */
html{
  @apply bg-gsu;
}
body{
  @apply bg-gray-200;
}
.app{
  @apply absolute left-0 right-0
}
.body-container{
  @apply mt-16 pt-5 h-full;
}
.body-content{
  @apply max-w-3xl m-auto bg-gray-50 border-l-4 border-r-4 border-gray-300;
  /*height: 80vh;*/
}



/* Dark mode */
.body-container{
  @apply dark:bg-gray-900;
}
.body-content{
  @apply dark:bg-gray-800 dark:text-gray-50 dark:border-gray-700;
}
input, select, textarea{
  @apply dark:bg-gray-600 dark:text-gray-100 dark:border-gray-900;
}

/* Buttons */
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-400 text-white;
}
.btn:hover {
  @apply bg-gray-500;
}

a{
  @apply text-gsu-light hover:underline;
  @apply dark:text-gray-400;
}